{% extends 'base.html' %}

{% block page_title %}Nova consulta{% endblock %}
{% block title %}Nova consulta{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group mb-3">
                <label for="identifier">Identificador *</label>
                <input type="text" class="form-control form-control-lg" id="identifier" name="identifier" required>
            </div>
            <div class="form-group mb-3">
                <label for="plate">Placa *</label>
                <input type="text" class="form-control form-control-lg" id="plate" name="plate" required>
            </div>
            <!-- <div class="form-group mb-3">
                <label for="angle">Ângulo *</label>
                <select name="angle" id="angle" class="form-control form-control-lg" required>
                    <option value=""></option>
                    <option value="0">Frente</option>
                    <option value="45">Frente + Lateral do Motorista</option>
                    <option value="90">Lateral do Motorista</option>
                    <option value="135">Traseira + Lateral do Motorista</option>
                    <option value="180">Traseira</option>
                    <option value="225">Traseira + Lateral do Passageiro</option>
                    <option value="270">Lateral do Passageiro</option>
                    <option value="315">Frente + Lateral do Passageiro</option>
                </select>
            </div> -->
            <div class="form-group mb-3">
                <label for="file">Imagem</label>
                <input type="file" class="form-control form-control-lg" id="file" name="file" required>
            </div>
            <hr>
            <!-- <div class="form-group mb-3">
                <label>Selecione as IAs que deseja executar *</label>
                <br>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" role="switch" name="ias" id="ia-plate" value="plate"
                        required>
                    <label class="form-check-label pointer" for="ia-plate">Somente placa</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" role="switch" name="ias" id="ia-angle" value="angle"
                        required>
                    <label class="form-check-label pointer" for="ia-angle">Somente ângulo</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" role="switch" name="ias" id="ia-all" value="all"
                        checked required>
                    <label class="form-check-label pointer" for="ia-all">Todas</label>
                </div>
            </div>
            <hr> -->
            <div class="form-group mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" name="thumbs" id="thumbs"
                        value="true">
                    <label class="form-check-label pointer" for="thumbs">Deseja gerar imagens com os resultados?</label>
                </div>
            </div>
            <div class="form-group my-5 d-flex justify-content-center">
                <a class="btn btn-lg btn-secondary" href="{{ url_for('front_router.index') }}">Voltar</a>
                <button class="btn btn-lg btn-primary w-25 ms-3">Enviar</button>
            </div>
        </div>
        <div class="col-12 col-md-6 border border-secondary rounded p-0">
            <img src="" alt="" id="img-preview" width="100%" height="100%">
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("file").addEventListener("change", function (el) {
            const fileReader = new FileReader()
            const imgPreview = document.getElementById("img-preview")
            fileReader.onload = function (event) {
                imgPreview.src = event.target.result
            }
            fileReader.readAsDataURL(el.target.files[0])
        })
    })
</script>

{% endblock content %}