{% extends 'panel/base.html' %}

{% block page_title %}Resultados{% endblock %}
{% block title %}Resultados{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table text-center table-striped">
        <thead>
            <tr>
                <th>IA</th>
                <th>Total de Air Bags Acessos encontrados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Air Bag</td>
                <td>{{ airbag_icon_count }}</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock content %}
