{% extends 'plate/base.html' %}

{% block page_title %}Resultados{% endblock %}
{% block title %}Resultados{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table text-center table-striped">
        <tr>
            <th>Identificador</th>
            <th>Tipo do Veículo</th>
            <th>Ângulo</th>
            <th>Produto</th>
            <th>Placa</th>
            <th>Resultado Placa</th>
            <th>Match Placa</th>
            <th>Runtime</th>
        </tr>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.identifier }}</td>
                <td>{{ log.type_vehicle }}</td>
                <td>{{ log.angle }}</td>
                <td>{{ log.product }}</td>
                <td>{{ log.plate }}</td>
                <td>{{ log.result }}</td>
                <td>{% if log.match %}{% include 'icons/ok.svg' %}{% else %}{% include 'icons/nok.svg' %}{% endif %}</td>
                <td>{{ log.runtime|floatformat:2 }}s</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'components/pagination.html' with itenspage=logs %}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".log-img").forEach(el => {
            el.addEventListener("click", function () {
                document.getElementById("expected-plate").innerHTML = el.dataset["plate"];
                document.getElementById("ia-result-plate").innerHTML = el.dataset["resultPlate"];
                document.getElementById("ia-match-plate").innerHTML = el.dataset["matchPlate"] === 'True' ? 'Sim' : 'Não';
            });
        });
    });
</script>

{% endblock content %}
